{% extends 'layout.html' %}

{% block title %}
    Public Campaign
{% endblock %}

{% block content %}

<div class="container">
    <h1>Public Campaigns</h1>

    <h2 class="">Active Campaigns</h2>
    
    {% for campaign in campaigns %}
            <div class="card" style="width: 18rem;margin:20px">
                <div class="card-body">
                <h5 class="card-title">{{campaign.name}}</h5>
                <p class="card-text">Description: {{campaign.description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">Start Date: {{campaign.start_date}}</li>
                <li class="list-group-item">End Date: {{campaign.end_date}}</li>
                <li class="list-group-item">Budget: {{campaign.budget}}</li>
                <li class="list-group-item">Goals: {{campaign.goals}}</li>
    
                </ul>
                <div class="card-body">
                    <a href="" class="btn btn-primary ">Join</a>
                </div>
                
            </div>
            

        
    {% endfor %}
</div>
    
{% endblock %}