<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">AdFuze</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% if 'user_id' in session %}

          <!------------------------------------------- admin nav -->

              {% if user.role=='admin' %}
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('profile')}}">AdminProfile</a>
              </li>

          <!------------------------------------------- sponsor nav -->
                
              {% elif user.role=='sponsor' %}
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('profile')}}">SponsorProfile</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{{url_for('sponsor_campaign')}}">Campaigns</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{{url_for('sponsor_adrequest')}}">AdRequests</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{{url_for('allinfluencer')}}">Influencers</a>
              </li>


          
          <!------------------------------------------- influencer nav -->


              {% elif user.role=='influencer' %}
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('profile')}}">InfluencerProfile</a>
              </li>   
              
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('publiccampaign')}}">PublicCampaigns</a>
              </li>   

              <li class="nav-item">
                <a class="nav-link" href="{{url_for('alladrequest')}}">Ad Requests</a>
              </li>  
                
              {% endif %}

              <div class="profile-picture" style="width: 40px; height:40px">
                <img src="https://api.dicebear.com/9.x/initials/svg?seed={{user.username}}&radius=20" alt="icon">
              </div>


              <li class="nav-item">
                <a class="btn btn-outline-danger" href="{{url_for('logout')}}">Logout</a>
              </li>
            
          {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('login')}}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('register')}}">sponsor-Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="{{url_for('register2')}}" >Influencer-Register</a>
              </li>
            
          {% endif %}

          
        </ul>
      </div>
    </div>
  </nav>